/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lobster&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lobster&family=Poppins&display=swap');

/* common styles or utilities */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1340px;
    margin: auto;
}

/* Banner Section Styles */
.banner-items {
    display: flex;
    width: 1340px;
    height: 640px;
    margin: auto;
    background: #161616;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 120px;
}

.banner-author {
    width: 50%;
    margin: 105px 110px;
    color: white;
}

.banner-author h1 {
    font-size: 70px;
    line-height: 80px;
}

.banner-author p {
    margin-top: 20px;
    margin-bottom: 40px;

}

.banner-author a {
    background-color: #DD0000;
    padding: 15px 25px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.fa-angle-right {
    margin-left: 10px;
}

.banner-marcelo {
    width: 580px;
    height: 610px;
    margin-top: 28px;
}

.banner-marcelo img {
    width: 100%;
}

/* Middle Section Styles */
.middle-items {
    display: flex;
}

.left-part {
    width: 312px;
    height: 312px;
    background-color: #161616;
}