/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lobster&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lobster&family=Poppins&display=swap');

/* common styles or utilities */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1340px;
    margin: auto;
}

/* Banner Section Styles */
.banner-items {
    display: flex;
    width: 1340px;
    height: 640px;
    margin: auto;
    background: #161616;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 120px;
}

.banner-items:hover {
    background-color: rgb(9, 59, 9);
}

.banner-author {
    width: 50%;
    margin: 105px 110px;
    color: white;
}

.banner-author h1 {
    font-size: 70px;
    line-height: 80px;
}

.banner-author p {
    margin-top: 20px;
    margin-bottom: 40px;

}

.banner-author a {
    background-color: #DD0000;
    padding: 15px 25px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.banner-author a:hover {
    background-color: purple;
}

.fa-angle-right {
    margin-left: 10px;
}

.banner-marcelo {
    width: 580px;
    height: 610px;
    margin-top: 93px;
}

.banner-marcelo img {
    width: 100%;
}

/* Middle Section Styles */
.middle-items {
    display: flex;
    justify-content: center;
}

.left-part {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    margin-right: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left-part-item1 a {
    background-color: white;
    padding: 17px 39px;
    color: #161616;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    font-weight: 600;
}

.left-part-item1 a:hover {
    background-color: purple;
    color: white;
}

.left-part-item2 a:hover {
    background-color: purple;
    color: white;
}

.left-part-item2 a {
    background-color: white;
    padding: 17px 79px;
    color: #161616;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    font-weight: 600;
}

.left-part-item3 a {
    background-color: red;
    padding: 17px 104px;
    color: white;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    font-weight: 600;
}

.transfers-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.transfer-box {
    width: 312px;
    height: 362px;
    border: 1px solid #16161633;
    border-radius: 10px;
}

.box-author {
    margin-left: 20px;
    margin-top: 20px;
}

.box-author a {
    padding: 5px 16px;
    border: 2px solid #161616;
    border-radius: 5px;
    color: #161616;
    font-size: 17px;
    font-weight: 600;
}

.box-author a:hover {
    background-color: red;
    color: white;
    border: 2px solid green;
}

.box-author #transfer-text {
    margin: 20px 0px;
    color: #161616;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.clock-comment-icon {
    display: flex;
}

.comment-icon {
    margin-left: 50px;
}

.fa-clock,
.fa-comment-dots {
    margin-right: 10px;
}

/* Hidden Item */
.hidden-item {
    width: 132px;
    margin: auto;
    margin-top: 70px;
    display: none;
}

.hidden-item a {
    background-color: red;
    padding: 12px 30px;
    color: white;
    border-radius: 5px;
}

/* Footer Styles */
footer {
    width: 100%;
    height: 444px;
    background-color: #161616;
    text-align: center;
}

footer h1 {
    padding-top: 130px;
    padding-bottom: 50px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: white;
    margin-top: 130px;
}

hr {
    width: 1450px;
    margin: auto;
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: gray;
    margin-bottom: 50px;
}

.footer-items ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-items ul li {
    list-style: none;
    margin-right: 50px;
}

.footer-items ul li a {
    color: #B9B9B9;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 19px;
}

.footer-items ul li a:hover {
    color: red;
}

.social-icon {
    color: gray;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 20px;
}

.fa-facebook,
.fa-youtube {
    color: gray;
}

.fa-facebook,
.fa-youtube,
.fa-instagram-square {
    margin-right: 23px;
}

.social-icon i:hover {
    color: orange;
    cursor: pointer;
}

/* ------------------------
Media Quarei 
-------------------------*/
/* Mobile Devices*/
@media screen and (max-width:420px) {

    /* Banner  */
    .banner-items {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin: auto;
        background: #161616;
        margin-top: 50px;
    }

    .banner-author {
        width: 400px;
        height: 180px;
        margin: 30px 0px;
        color: white;
        text-align: center;
    }

    .banner-author h1 {
        font-size: 30px;
        line-height: 40px;
        padding: 0px 40px;
    }

    .banner-author p {
        padding: 0px 20px;
        margin-bottom: 30px;
    }

    .banner-marcelo {
        width: 300px;
        height: 245px;
        margin: auto;
        margin-top: 83px;
    }

    /* Middle Section Styles */
    .middle-items {
        width: 420px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-part {
        background-color: white;
        text-align: center;
    }

    .left-part-item1 a,
    .left-part-item2 a {
        padding: 17px 39px;
        border: 1px solid #16161633;
    }

    .left-part-item3 a {
        padding: 17px 62px;
        border: 1px solid #16161633;
    }

    .transfers-boxes {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Footer */
    footer {
        height: 540px;
    }

    footer h1 {
        padding-top: 30px;
        padding-bottom: 50px;
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        color: white;
        margin-top: 130px;
    }

    hr {
        width: 350px;
    }

    .footer-items ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-items ul li {
        margin-right: 0px;
        padding-bottom: 15px;
    }

    .social-icon {
        margin-top: 25px;
    }
}

/* Tab Devices*/
@media screen and (min-width:420px) and (max-width:1000px) {
    .banner-items {
        display: flex;
        width: 900px;
        height: 500px;
        margin: auto;
        background: #161616;
        border-radius: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .banner-author {
        width: 600px;
        height: 180px;
        color: white;
    }

    .banner-author h1 {
        font-size: 50px;
        line-height: 50px;
    }

    .banner-marcelo {
        width: 620px;
        height: 650px;
        margin-top: 50px;
    }

    /* Middle Section Styles */
    .middle-items {
        width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-part {
        width: 900px;
        height: 120px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 8px;
    }

    .left-part-item1 a,
    .left-part-item2 a,
    .left-part-item2 a {
        border: 1px solid #16161633;
    }

    .transfers-boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    .transfer-box {
        width: 400px;
        height: 400px;
        border: 1px solid #16161633;
        border-radius: 10px;
    }

    .transfer-box img {
        width: 100%;
    }

    /* Hidden Item */
    .hidden-item {
        display: block;
    }

    #hidden-box {
        display: none;
    }

    /* Footer */
    footer {
        height: 500px;
    }

    hr {
        width: 740px;
    }

    .footer-items ul {
        width: 700px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-items ul li {
        list-style: none;
        margin-right: 30px;
        line-height: 50px;
    }
}