/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lobster&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lobster&family=Poppins&display=swap');

/* common styles or utilities */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1340px;
    margin: auto;
}

/* Banner Section Styles */
.banner-items {
    display: flex;
    width: 1340px;
    height: 640px;
    margin: auto;
    background: #161616;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 120px;
}

.banner-items:hover {
    background-color: rgb(9, 59, 9);
}

.banner-author {
    width: 50%;
    margin: 105px 110px;
    color: white;
}

.banner-author h1 {
    font-size: 70px;
    line-height: 80px;
}

.banner-author h1:hover {
    color: lightblue;
}

.banner-author p {
    margin-top: 20px;
    margin-bottom: 40px;

}

.banner-author a {
    background-color: #DD0000;
    padding: 15px 25px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.banner-author a:hover {
    background-color: rgb(81, 10, 83);
}

.fa-angle-right {
    margin-left: 10px;
}

.banner-marcelo {
    width: 580px;
    height: 610px;
    margin-top: 93px;
}

.banner-marcelo img {
    width: 100%;
}

/* Middle Section Styles */
.middle-items {
    display: flex;
}

.left-part {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    margin-right: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* .left-part-item {
    width: 252px;
    height: 64px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
} */

.left-part-item1 a {
    background-color: white;
    padding: 17px 39px;
    color: #161616;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
}

.left-part-item2 a {
    background-color: white;
    padding: 17px 79px;
    color: #161616;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
}

.left-part-item3 a {
    background-color: red;
    padding: 17px 104px;
    color: white;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
}

.transfers-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.transfer-box {
    width: 312px;
    height: 362px;
    border: 1px solid #16161614;
    border-radius: 10px;
}

.box-author {
    margin-left: 20px;
    margin-top: 20px;
}

.box-author a {
    padding: 5px 16px;
    border: 2px solid #161616;
    border-radius: 5px;
    color: #161616;
    font-size: 17px;
    font-weight: 600;

}

.box-author #transfer-text {
    margin: 20px 0px;
    color: #161616;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.clock-comment-icon {
    display: flex;
}

.comment-icon {
    margin-left: 50px;
}

.fa-clock,
.fa-comment-dots {
    margin-right: 10px;
}

/* Footer Styles */
footer {
    width: 100%;
    height: 444px;
    background-color: #161616;
    text-align: center;

}

footer h1 {
    padding-top: 130px;
    padding-bottom: 50px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: white;
    margin-top: 130px;
}

hr {
    width: 1320px;
    margin: auto;
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: gray;
    margin-bottom: 50px;
}

.footer-items ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-items ul li {
    list-style: none;
    margin-right: 50px;
}

.footer-items ul li a {
    color: #B9B9B9;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 19px;
}

.social-icon {
    color: gray;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 18px;
}

.fa-facebook,
.fa-youtube,
.fa-instagram-square {
    margin-right: 23px;
}